*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(215, 236, 250);
}

svg{
    border: 10px solid gray;
}



/* --------------------------STEP-01-------------------------- */

#box-group.step-01{
    transform-box: fill-box;
    animation: box-appear 0.5s ease-out forwards;
    transition: 1s;
}

@keyframes box-appear {
    from{
        transform: translateY(-80%);
    }
    to{
        transform: translateY(0%);
    }
}


#box-left.step-01{
    transform-box: fill-box;
    transform-origin: 0% 100%;
    animation: box-left-appear 1s ease-out forwards;
    animation-delay: 0.7s;
    transition: 1s;
}

@keyframes box-left-appear {
    0%{
        transform-origin: 0% 100%;
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(100deg);
    }
    100%{
        transform: rotate(100deg);
    }
}

#box-right.step-01{
    transform-box: fill-box;
    transform-origin: 100% 100%;
    animation: box-right-appear 1s ease-out forwards;
    animation-delay: 0.7s;
    transition: 1s;
}

@keyframes box-right-appear {
    0%{
        transform-origin: 100% 100%;
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(-100deg);
    }
    100%{
        transform: rotate(-100deg);
    }
}


#pipe-group.step-01{
    transform-box: fill-box;
    transform-origin: center;
    animation: pipe-appear 2.5s ease-out forwards;
    transition: 1s;
}

@keyframes pipe-appear {
    from{
        transform: translateY(-100%);
    }
    to{
        transform: translateY(20%);
    }
}





/* --------------------------STEP-02-------------------------- */

#arm-bracket, #arm-down{
    opacity: 0;
}

#arm-down.step-02{
    transform-box: fill-box;
    transform-origin: 0% 100%;
    animation: arm-down-appear 2s ease-in forwards;
    animation-delay: 1.2s;
    transition: 2s;
}

@keyframes arm-down-appear {
    from{
        opacity: 1;
        transform: rotate(90deg) translateY(50%) translateX(-1200%) scale(0.5);
    }
    to{
        opacity: 1;
        transform: rotate(90deg) translateY(20%) translateX(28%) scale(0.5);
    }
}

#arm-up.step-02{
    transform-box: fill-box;
    transform-origin: 0% 100%;
    animation: arm-up-appear 2s ease-in forwards;
    transition: 2s;
}

@keyframes arm-up-appear {
    from{
        transform: rotate(0deg) translateX(20%) translateY(-320%) scale(0.5);
    }
    to{
        transform: rotate(-6deg) translateX(60%) translateY(492%) scale(0.5);
    }
}

#arm-bracket.step-02{
    transform-box: fill-box;
    transform-origin: 0% 100%;
    animation: arm-bracket-appear 2s ease-in forwards;
    animation-delay: 0.5s;
    transition: 2s;
}

@keyframes arm-bracket-appear {
    from{
        opacity: 1;
        transform: rotate(124deg) translateY(250%) translateX(-340%) scale(0.5);
    }
    to{
        opacity: 1;
        transform: rotate(124deg) translateY(-60%) translateX(166%) scale(0.5);
    }
}





/* --------------------------STEP-03-------------------------- */

#rope-line, #rope-knot-down, #rope-knot-up{
    opacity: 0;
}

#rope-loop.step-03{
    transform-box: fill-box;
    transform-origin: center;
    animation: rope-loop-appear 2s ease-in forwards;
    transition: 2s;
}

@keyframes rope-loop-appear {
    from{
        transform: rotate(20deg) translateX(-200%) translateY(-650%) scale(0.5);
    }
    to{
        transform: rotate(20deg) translateX(-20%) translateY(268%) scale(0.5);
    }
}

#rope-line.step-03{
    transform-box: fill-box;
    transform-origin: center;
    animation: rope-line-appear 2.2s ease-in forwards;
    animation-delay: 1s;
    transition: 2s;
}

@keyframes rope-line-appear {
    from{
        opacity: 1;
        transform: rotate(-45deg) translateX(10000%) translateY(-100%) scale(0.5);
    }
    to{
        opacity: 1;
        transform: rotate(-45deg) translateX(-12200%) translateY(205%) scale(0.5);
    }
}

#rope-knot-down.step-03{
    transform-box: fill-box;
    transform-origin: center;
    animation: rope-knor-down-appear 2s ease-in forwards;
    animation-delay: 2s;
    transition: 2s;
}

@keyframes rope-knor-down-appear {
    from{
        opacity: 1;
        transform: translateX(20%) translateY(-1200%) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateX(10%) translateY(1458%) scale(0.5);
    }
}

#rope-knot-up.step-03{
    transform-box: fill-box;
    transform-origin: center;
    animation: rope-knor-up-appear 2s ease-in forwards;
    animation-delay: 1.4s;
    transition: 2s;
}

@keyframes rope-knor-up-appear {
    from{
        opacity: 1;
        transform: translateX(20%) translateY(-1200%) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateX(100%) translateY(1430%) scale(0.5);
    }
}




/* --------------------------STEP-04-------------------------- */

#pipe-group.step-04{
    transform-box: fill-box;
    transform-origin: center;
    animation: pipe-disappear 2.5s ease-out forwards;
    transition: 1s;
}

@keyframes pipe-disappear {
    from{
        transform: translateY(20%);
    }
    to{
        transform: translateY(-100%);
    }
}




/* --------------------------STEP-05-------------------------- */

#shadow-group.step-05{
    transform-box: fill-box;
    transform-origin: center;
    animation: shadow-appear 3s ease-in-out forwards;
    transition: 1s;
}

@keyframes shadow-appear {
    from{
        transform-box: fill-box;
        transform-origin: center;
        opacity: 0;
        transform: scale(0.3);
    }
    to{
        transform-box: fill-box;
        transform-origin: center;
        opacity: 0.1;
        transform: scale(1);
    }
}




/* --------------------------STEP-06-------------------------- */

#arm-down.step-06{
    transform-box: fill-box;
    transform-origin: 0% 100%;
    animation: arm-down-set 2s ease-in forwards;
    transition: 2s;
}

@keyframes arm-down-set {
    from{
        opacity: 1;
        transform: rotate(90deg) translateY(20%) translateX(28%) scale(0.5);
    }
    to{
        opacity: 1;
        transform: rotate(0deg) translateY(0%) translateX(0%) scale(1);
    }
}



/* --------------------------STEP-07-------------------------- */

#arm-up.step-07{
    transform-box: fill-box;
    transform-origin: 0% 100%;
    animation: arm-up-set 2s ease-in forwards;
    transition: 2s;
}

@keyframes arm-up-set {
    from{
        transform: rotate(-6deg) translateX(60%) translateY(492%) scale(0.5);
    }
    to{
        transform: rotate(0deg) translateX(0%) translateY(0%) scale(1);
    }
}




/* --------------------------STEP-08-------------------------- */

#arm-bracket.step-08{
    transform-box: fill-box;
    transform-origin: 0% 100%;
    animation: arm-bracket-set 2s ease-in forwards;
    transition: 2s;
}

@keyframes arm-bracket-set {
    from{
        opacity: 1;
        transform: rotate(124deg) translateY(-60%) translateX(166%) scale(0.5);
    }
    to{
        opacity: 1;
        transform: rotate(0deg) translateY(0%) translateX(0%) scale(1);
    }
}





/* --------------------------STEP-09-------------------------- */

#rope-line.step-09{
    transform-box: fill-box;
    transform-origin: center;
    animation: rope-line-set 2s ease-in forwards;
    transition: 2s;
}

@keyframes rope-line-set {
    from{
        opacity: 1;
        transform: rotate(-45deg) translateX(-12200%) translateY(205%) scale(0.5);
    }
    to{
        opacity: 1;
        transform: rotate(0deg) translateX(0%) translateY(0%) scale(1);
    }
}





/* --------------------------STEP-10-------------------------- */

#rope-knot-up.step-10{
    transform-box: fill-box;
    transform-origin: center;
    animation: rope-knor-up-set 2s ease-in forwards;
    transition: 2s;
}

@keyframes rope-knor-up-set {
    from{
        opacity: 1;
        transform: translateX(100%) translateY(1430%) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateX(0%) translateY(0%) scale(1);
    }
}




/* --------------------------STEP-11-------------------------- */

#rope-knot-down.step-11{
    transform-box: fill-box;
    transform-origin: center;
    animation: rope-knor-down-set 2s ease-in forwards;
    transition: 2s;
}

@keyframes rope-knor-down-set {
    from{
        opacity: 1;
        transform: translateX(10%) translateY(1458%) scale(0.5);
    }
    to{
        opacity: 1;
        transform: translateX(0%) translateY(0%) scale(1);
    }
}



/* --------------------------STEP-12-------------------------- */

#rope-loop.step-12{
    transform-box: fill-box;
    transform-origin: center;
    animation: rope-loop-set 2s ease-in forwards;
    transition: 2s;
}

@keyframes rope-loop-set {
    from{
        transform: rotate(20deg) translateX(-20%) translateY(268%) scale(0.5);
    }
    to{
        transform: rotate(0deg) translateX(0%) translateY(0%) scale(1);
    }
}